<nav class="navbar navbar-expand-sm navbar-custom">
  <div class="navbar-brand" href="#">第九組</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">主頁</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">疫情地圖</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">案例統計</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/chart2">境外移入統計</a>
      </li>
    </ul>
  </div>
</nav>